.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input-box {
margin-top: 0.5em;
}

.Timer-box {
  background-color: #6098b1;
  min-height: 5vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Number-box {
  margin: 0.5em;
}

.Actions-box {
  margin: 1em;
}

.Output-box {
  text-align: start;
  margin-left: 1em;
}

.Output-box .Messages-list {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid black;
}

.Output-box textarea {
  min-width: 50vh;
  min-height: 50vh;
  overflow-x: auto;
  overflow-y: auto;
}
